/*PARENT CONTAINER*/
.image-carousel-parent {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    @apply items-center justify-center
}

/*IMAGE CAROUSEL CONTAINER*/
.image-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 80vh;
}

/*IMAGE CONTAINER*/
#image-holder {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-color: #23453D;
    z-index: 100;
}

#image-holder img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#image-holder img.active {
    opacity: 1;
}

/*BUTTONS CONTAINER*/
.image-buttons-container {
    height: 20%;
    width: 12%;
}

.image-buttons {
    border-radius: 10%;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    transition: background-color 0.3s;
}

.image-buttons:hover {
    background-color: #10231ee2;
}

.image-buttons:focus {
    outline: none;
}

/*DOTS CONTAINER*/
.dot-indicator {
    display: flex;
    justify-content: center;
}

.dot-indicator span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #888;
    margin: 0 5px;
    margin-top: -10px;
    margin-bottom: 25px;
    cursor: pointer;
}

.dot-indicator span.active {
    background-color: #333;
}