.scholarshipmain {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    background-color: #FFFFFF;
    @apply w-full py-10 flex-col;
}

.s__description {
    @apply flex w-full flex-col lg:px-40 mb-8;
}

.s__description p {
    @apply text-lg lg:text-xl;
    font-family: 'BeVietnamProLight';
    color: #1c1c1c;
    text-align: center;
    line-height: 1.5;
}