#root {
  font-family: 'ReadexPro', 'BeVietnamProReg', 'BeVietnamProBold', Arial, sans-serif;
  --primary-color: #24453E;
  --light-color: #EBEDEC;
  --dark-color: #151515;
  width: 100%;
}

body {
  color: var(--light-color);
}

@font-face {
  font-family: 'ReadexPro';
  src: url(../public/ReadexPro-VariableFont_HEXP\,wght.ttf);
  font-style: normal;
}

@font-face {
  font-family: 'BeVietnamProReg';
  src: url(../public/BeVietnamPro-Regular.ttf);
}

@font-face {
  font-family: 'BeVietnamProBold';
  src: url(../public/BeVietnamPro-Bold.ttf);
}

@font-face {
  font-family: 'BeVietnamProExtraBold';
  src: url(../public/BeVietnamPro-ExtraBold.ttf);
}

@font-face {
  font-family: 'BeVietnamProLight';
  src: url(../public/BeVietnamPro-Light.ttf);
}

@font-face {
  font-family: 'BeVietnamProMedium';
  src: url(../public/BeVietnamPro-Medium.ttf);
}

@font-face {
  font-family: 'BeVietnamProSemiBold';
  src: url(../public/BeVietnamPro-SemiBold.ttf);
}

@font-face {
  font-family: 'BeVietnamProThin';
  src: url(../public/BeVietnamPro-Thin.ttf);
}

@font-face {
  font-family: 'BeVietnamProExtraLight';
  src: url(../public/BeVietnamPro-ExtraLight.ttf);
}


